<!-- ag-Grid Component -->
<div class="container-fluid" style="height: 430px; width: 100%">
  <ag-grid-angular #agGrid style="width: 85%; height: 100%;" class="ag-theme-fresh" 
    [gridOptions]="gridOptions" 
    headerHeight="32" rowHeight="35" 
    enableColResize="true" 
    enableSorting="true" 
    enableFilter="true" 
    pagination="true" 
    paginationAutoPageSize="true"
    suppressDragLeaveHidesColumns 
    [rowSelection]="rowSelection" 
    (rowDoubleClicked)=onRowDoubleClicked($event)>
  </ag-grid-angular>
</div>